body {
  overflow-x: hidden;
}

.infinite-container {
  width: 10000px;
  /* font-size will create spacing between images if it's not 0 */
  font-size: 0;
}

.infinite-image, .infinite-copy {
  display: inline-block;
  height: 100%;
}

.flipped {
  /* this code flips an image horizontally */
  /* taken from https://css-tricks.com/snippets/css/flip-an-image/ */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
